In [25]:
import pandas as pd

In [26]:
from elasticsearch import Elasticsearch, helpers

In [27]:
df = pd.read_csv('../Data/data_2019_timestamp.csv')

In [28]:
df

,Unnamed: 0,Park Name,Park DateTime,Park Status,Occupated,Total,x_pos,y_pos
0,0,ANTI,1.546301e+09,Open,36,239,3.888819,43.608716
1,251421,MOSS,1.546301e+09,Open,10,480,3.819666,43.616237
2,291246,PITO,1.546301e+09,Open,102,588,3.870191,43.612245
3,211416,GA250,1.546301e+09,Open,24,300,3.914415,43.605344
4,311153,SABI,1.546301e+09,Open,138,485,3.860225,43.583833
...,...,...,...,...,...,...,...,...
409372,291245,OCCI,1.577836e+09,Open,159,700,3.848598,43.634562
409373,370363,SJLC,1.577836e+09,Open,6,290,3.837931,43.570822
409374,59328,CDGA,1.577836e+09,Open,32,260,3.897762,43.628542
409375,78775,CIRC,1.577836e+09,Open,615,1500,3.917849,43.604954
409376,409376,VICA,1.577836e+09,Open,10,150,3.898426,43.632771

In [29]:
dic_to_es = {}
for index, row in df.iterrows():
    if row['Park DateTime'] in dic_to_es:
        temp_park_dic = {'Name' : row['Park Name'],'Status':row['Park Status'],'Free' : row['Total']-row['Occupated'], 
                         'Total': row['Total'], 'x_pos': row['x_pos'], 'y_pos':row['y_pos']}
        dic_to_es[row['Park DateTime']]['Parkings'].append(temp_park_dic)
    else:
        dic_to_es[row['Park DateTime']] = {'dateTime' : row['Park DateTime'], 'Parkings' : []}
        temp_park_dic = {'Name' : row['Park Name'],'Status':row['Park Status'],'Free' : row['Total']-row['Occupated'], 
                         'Total': row['Total'], 'x_pos': row['x_pos'], 'y_pos':row['y_pos']}
        dic_to_es[row['Park DateTime']]['Parkings'].append(temp_park_dic)
#     print(index)

In [30]:
len(dic_to_es)

25322

In [34]:
es = Elasticsearch(
    cloud_id='MarathonDuWeb:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvJGZhMzJkNzYyNzFjYzQ4OTRhNjk2ZWQ4NTVhYjkwMDgyJGZjOTk1YzA0ZmYyYjQ5ZmM4OTliYjAwODNkYzA5N2U0',
    basic_auth=('elastic', 'QjTCAIOmAkkqqTIGjeEeD63q')
)

In [ ]:
for doc in dic_to_es:
    es.index(
         index='car_parking_index',
         document=dic_to_es[doc])

In [ ]:
result2 = es.search(index='webscrapping_test')

In [23]:
result2['hits']['hits']

{'_index': 'webscrapping_test',
 '_id': 'AgWtaX8BQh4cNf5QSvTx',
 '_score': 1.0,
 '_source': {'dateTime': 1646745431,
  'Parkings': [{'Name': 'ANTI',
    'Status': 'Open',
    'Free': '0140',
    'Total': '0239',
    'x_pos': 3.888819,
    'y_pos': 3.888819},
   {'Name': 'COME',
    'Status': 'Open',
    'Free': '0279',
    'Total': '0835',
    'x_pos': 3.879762,
    'y_pos': 3.879762},
   {'Name': 'CORU',
    'Status': 'Open',
    'Free': '0210',
    'Total': '0450',
    'x_pos': 3.882258,
    'y_pos': 3.882258},
   {'Name': 'EURO',
    'Status': 'Open',
    'Free': '0279',
    'Total': '0593',
    'x_pos': 3.892531,
    'y_pos': 3.892531},
   {'Name': 'FOCH',
    'Status': 'Open',
    'Free': '0126',
    'Total': '0545',
    'x_pos': 3.876571,
    'y_pos': 3.876571},
   {'Name': 'GAMB',
    'Status': 'Open',
    'Free': '0135',
    'Total': '0456',
    'x_pos': 3.871374,
    'y_pos': 3.871374},
   {'Name': 'GARE',
    'Status': 'Open',
    'Free': '189',
    'Total': '656',
    'x_pos': 3.878551,
    'y_pos': 3.878551},
   {'Name': 'TRIA',
    'Status': 'Open',
    'Free': '72',
    'Total': '436',
    'x_pos': 3.881844,
    'y_pos': 3.881844},
   {'Name': 'ARCT',
    'Status': 'Open',
    'Free': '0067',
    'Total': '0450',
    'x_pos': 3.873201,
    'y_pos': 3.873201},
   {'Name': 'PITO',
    'Status': 'Open',
    'Free': '287',
    'Total': '588',
    'x_pos': 3.870191,
    'y_pos': 3.870191},
   {'Name': 'CIRC',
    'Status': 'Open',
    'Free': '0585',
    'Total': '1200',
    'x_pos': 3.917849,
    'y_pos': 3.917849},
   {'Name': 'SABI',
    'Status': 'Open',
    'Free': '0191',
    'Total': '0485',
    'x_pos': 3.860225,
    'y_pos': 3.860225},
   {'Name': 'GARC',
    'Status': 'Open',
    'Free': '0171',
    'Total': '0395',
    'x_pos': 3.890716,
    'y_pos': 3.890716},
   {'Name': 'SABL',
    'Status': 'Open',
    'Free': '0143',
    'Total': '0372',
    'x_pos': 3.922295,
    'y_pos': 3.922295},
   {'Name': 'MOSS',
    'Status': 'Open',
    'Free': '0209',
    'Total': '0423',
    'x_pos': 3.819666,
    'y_pos': 3.819666},
   {'Name': 'SJLC',
    'Status': 'Open',
    'Free': '0146',
    'Total': '0290',
    'x_pos': 3.837931,
    'y_pos': 3.837931},
   {'Name': 'MEDC',
    'Status': 'Open',
    'Free': '0129',
    'Total': '0255',
    'x_pos': 3.827724,
    'y_pos': 3.827724},
   {'Name': 'OCCI',
    'Status': 'Open',
    'Free': '0142',
    'Total': '0627',
    'x_pos': 3.848598,
    'y_pos': 3.848598},
   {'Name': 'VICA',
    'Status': 'Open',
    'Free': '0036',
    'Total': '0094',
    'x_pos': 3.898426,
    'y_pos': 3.898426},
   {'Name': 'GA250',
    'Status': 'Open',
    'Free': '0194',
    'Total': '0250',
    'x_pos': 3.914415,
    'y_pos': 3.914415},
   {'Name': 'CDGA',
    'Status': 'Open',
    'Free': '0154',
    'Total': '0260',
    'x_pos': 3.897762,
    'y_pos': 3.897762},
   {'Name': 'ARCE',
    'Status': 'Open',
    'Free': '0039',
    'Total': '0208',
    'x_pos': 3.867491,
    'y_pos': 3.867491},
   {'Name': 'POLY',
    'Status': 'Open',
    'Free': '1029',
    'Total': '1911',
    'x_pos': 3.884765,
    'y_pos': 3.884765}]}}